{% extends 'libro/form_base.html' %}
{% load i18n %}

{% block title %}
  {% if form.instance.pk %}
    {% translate 'Edit Author' %}
  {% else %}
    {% translate 'Add New Author' %}
  {% endif %}
{% endblock %}

{% block extra_css %}
  <style>
    /* Optional: Make the photo preview circular like in author detail/list views */
    .form-control[type='file']:not(:disabled):not([readonly])::file-selector-button:hover {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  </style>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
