{% extends "base.html" %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">{{ title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <h2>Information We Collect</h2>
            <p>We collect information that you provide directly to us when you:</p>
            <ul>
                <li>Create an account</li>
                <li>Write reviews</li>
                <li>Comment on reviews</li>
                <li>Contact us</li>
            </ul>

            <h2>How We Use Your Information</h2>
            <p>We use the information we collect to:</p>
            <ul>
                <li>Provide and maintain our services</li>
                <li>Improve user experience</li>
                <li>Send you updates and notifications</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}